In [1]:
import findspark
findspark.init()

from pyspark.sql import DataFrame
import pyspark.sql.types as T

from etl import SparkETL

In [2]:
etl = SparkETL()
spark = etl.get_spark()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/Cellar/apache-spark/3.1.2/libexec/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/05/13 18:44:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/13 18:44:49 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
schema = T.StructType([
    T.StructField('time_id', T.StringType(), False),
    T.StructField('route_id', T.StringType(), False),
    T.StructField('visitor_id', T.StringType(), False),
    T.StructField('num_visitors', T.LongType(), False),
    T.StructField('age_avg', T.DoubleType(), True),
    T.StructField('age_std', T.DoubleType(), True),
    T.StructField('stay_avg', T.DoubleType(), True),
    T.StructField('stay_std', T.DoubleType(), True),
])

In [4]:
def empty_dataframe(schema):
    return spark.createDataFrame([], schema)

In [5]:
etl.init_fact_table(
    empty_dataframe(schema),
    'flight_fact'
)

In [7]:
etl.read_fact_table('flight_fact').toPandas()

Empty DataFrame
Columns: [time_id, route_id, visitor_id, num_visitors, age_avg, age_std, stay_avg, stay_std]
Index: []